.env
node_modules/
htmlclay
HTMLClay.app
*.dmg
executables/
.notarization-submissions.json
.DS_Store
resource_windows_amd64.syso

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
